body{
    padding-top: 70px;
}

#gameBoard {
    width: 500px;
    height: 500px;
    text-align: center
}

#gameBoard td {
    border: solid black 2px;
    overflow: auto;
    width: 166.6px;
    height: 166.7px;
}

#gameBoard td:before{
	font-size: 6.0em;
	line-height: 1;
}

#gameBoard td.x:before {
    content: "X";
    color: #e6cf8b;
    margin: 0px;
    padding: none;
}

#gameBoard td.o:before {
    content: "O";
    color: #22264b;
}



#gameBoard td:hover{
    background-color: #b56969;
}

#rightColumn {
    margin-left: 60px;
}

#messageBox {
    width: 500px;
    height: 235px;
    margin-top: 15px;
    background-color: black;
    border: solid black 2px;
    border-radius: 3px;
    color: chartreuse;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

#messageBox p {
    margin: 10px;
}

#commentBox {
	height: 200px;
}

.question {
	font-weight: bold;
	width: 200px;
}